<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :team_name %>
    <%#= f.input :dept_id %>
    <%= f.input :depart, collection: @u, prompt: "Select department" %>
  </div>
 <%= f.submit "Add Team" ,:id => 'team_submit'%>
 <!--  <div class="form-actions">
    <%#= f.button :submit %>
  </div> -->
<% end %>
