
<div class="content">   
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li ><a href="<%= new_person_path %>">ADD EMPLOYEE</a></li>
          <li><a href="<%= templates_path %>">TEMPLATES</a></li>
          <li><a href="<%= new_image_path %>">ADD IMAGE</a></li>
          <li><a href="<%= people_path(:format=> :xls) %>">EXCEL DOWNLOAD</a></li>
          <li><a href="<%= find_birthday_path %>">BIRTHDAY MAIL</a></li>
          <li><a href="<%= image_index_path %>">LISTED EMPLOYEES</a></li>
          <li><a href="<%= new_department_path %>">ADD DEP</a></li> <!-- # for department  -->
           <li><a href="<%= new_team_path %>">TEAM</a></li>
           <li><a href="<%= new_template_path %>">TEMPLATE CREATION</a></li>
           


        </ul>
      </div>
    </div>
  </div>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
          <div id="calendar"></div>
      </div>
   <div class="span6">
      <div id="show" class="fc" >
   </div>
  </div>
</div>
   

 





